.section-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px 32px;
  justify-content: center;
  /* background-color: red; */

  position: relative;
}

.notfound{
  position:absolute;
  left: 45%;
  font-size: 25px;
  color: red;

}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  transition: transform 0.2s ease;
  /* background-color: aqua; */
  flex: 0 0 calc(25% - 24px);
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  background-color: blue;
}

.card-body {
  padding: 10px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
  .card {
    flex: 0 0 calc(33.33% - 24px);
  }
}

@media (max-width: 900px) {
  .card {
    flex: 0 0 calc(50% - 24px);
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 0 100%;
  }
}

/* =========================
   SEARCH BAR (LISTING PAGE)
========================= */

.page-search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 30px;
}

.page-search-input {
  width: 420px;
  max-width: 95%;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* MOBILE */
@media (max-width: 768px) {
  .page-search-input {
    width: 100%;
    font-size: 14px;
  }
}

