@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  /* max-width: 100%; */
  /* overflow-x: hidden; */
  font-family: Arial, sans-serif;
  background: #f8f8f8;
  color: #222;
}
